.modalOverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 19;
  position: fixed;
  background-color: rgba(1, 5, 2, 0.76);

  .dropdown {
    font-family: 'Montserrat', sans-serif;
    color: #313614;
    font-size: 14px;
    border-radius: 5px;
  }

  .modal {
    border-radius: 10px; 
    width: 500px;
    height: 220px;
    text-align: center; 
    background-color: white;
    z-index: 20;
    position: fixed;
    margin-left: -250px;
    margin-top: -90px;
    left: 50%;
    top: 50%;
    border: 1px solid #ccc;

    h3 {
      color: #313614;
      border-bottom: 1px solid #ccc;
      padding: 1rem;
      margin: 0;
      margin: 10px;
      font-family: 'DM Serif Display', serif;
    }

    .modalContent {
      color: #313614;
      padding: 1rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }

    
      .togglebutton {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        border: 0;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        line-height: 1;
        border: 1px solid #313614;
        margin: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
      }
  }
}

.alertButton {
  outline: 0;
  color: #313614;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  touch-action: manipulation;
}
