/* .navBarContainer {
    background-color: #dee2e6; 
    height: 50px; 
    overflow: hidden;
    top: 0; 
    width: 100%; 
  }
  
  .navBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  } */