.formContainer {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color:  #313614;
    border-style: solid;
    border-width: 1px;
    border-color: #313614;
    padding: 10px;
    display: inline-block;
    text-align: center;
  }
  
  #plusSign {
    width: 25px;
    height: auto;
  }
  
  .delete {
    outline: 0;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    touch-action: manipulation;
  }
  
  .addEndpoint {
    outline: 0;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    touch-action: manipulation;
  }
  
  .eachEndpoint {
    font-family: 'DM Serif Display', serif;
    color:  #313614;
    font-size: 20px;
    outline: 0;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    touch-action: manipulation;
  }
  
  .endPointContainer {
    vertical-align: baseline;
  }