.MuiMenuItem-root {
  font-size: 1000px;
}

.MuiOutlinedInput-root {
  font-size: 1000px;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  font-size: 100px;
}

.MuiInputBase-colorPrimary {
  font-size: 100px;
}

.MuiInputBase-formControl {
  font-size: 100px;
}

.MuiSelect-select {
  font-size: 100px;
}
