// @media only screen and (max-width: 1000px) {
// }

// @media only screen and (min-width: 1440px) {
//   .landingPage {
//     width: 1200px;
//     .wrapper {
//       // max-width: 1200px;
//       // justify-items: center;
//       // padding-left: 10vw;
//       // padding-right: 10vw;
//     }
//   }
// }

.landingPage {
  width: 100%;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  padding-top: 5vw;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 1440px;
  min-width: 800px;
  h1 {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    color: #313614;
    font-size: 25px;
  }
}

.headerChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'DM Serif Display', serif;
  font-size: max(60px, 3vw);
  color: #313641;
  width: 50vw;
  padding: 1vw;
}

.chart {
  width: 40vw;
  height: auto;
  padding: 1vw;
}

#button {
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  border: solid 1px #313641;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 30px;
  letter-spacing: 3px;
  color: #313641;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  touch-action: manipulation;
}

.caption {
  font-family: 'Montserrat', sans-serif;
  color: #313641;
  font-size: 20px;
  margin: 2vw;
  width: 100vw;
  //   padding: 2vw;
  text-align: center;
}

.keyFeatures {
  // display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  // grid-template-columns: repeat(3, 30vw);
  max-width: 1440px;
  word-wrap: normal;
  margin-bottom: 25px;
}

.feature {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #313641;
  border: solid 1px #313641;
  border-radius: 10px;
  padding: 1vw;
  width: min(400px, 25vw);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

// applies margin only to feature divs that are preceded by a feature div
.feature + .feature {
  margin-left: 25px;
}

.team {
  display: flex;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 4vw;
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #313614;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #313614;
  }
}

.teamPhoto {
  width: 13vw;
  height: auto;
  padding-left: 3vw;
  padding-right: 3vw;
}

.person {
  color: #313641;
}

.logo {
  height: 20px;
  width: auto;
  padding: 2px;
}


.marquee-container {
  max-width: 700px;
  width: 700px;
}
.testimonial {
  margin: 0 40px;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 30vw;
  height: auto;
}
