// @media only screen and (max-width: 1000px) {
// }

// @media only screen and (min-width: 1440px) {
//   .landingPage {
//     width: 1200px;
//     .wrapper {
//       // max-width: 1200px;
//       // justify-items: center;
//       // padding-left: 10vw;
//       // padding-right: 10vw;
//     }
//   }
// }

.landingPage {
  width: 100%;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  padding-top: 5vw;
  display: flex;
  gap: 15px;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  // min-width: 800px;
  h1 {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    color: #rgba(61, 68, 81);
    font-size: 25px;
  }
}

.headerChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 14px;
  // padding: 0 300px 0 300px;
}

.header {
  font-family: 'DM Serif Display', serif;
  font-size: max(50px, 2vw);
  color: #313641;
  width: 50%;
  // padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.chart {
  width: 50%;
  height: auto;
  padding: 4px;
  display: flex;
  justify-content: flex-end;
}

#button {
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  border: solid 1px #313641;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(61, 68, 81, 0.19) 0px 10px 20px,
    rgba(61, 68, 81, 0.23) 0px 6px 6px;
  font-size: 30px;
  letter-spacing: 3px;
  color: #3d4451;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  touch-action: manipulation;
}

.caption {
  font-family: 'Montserrat', sans-serif;
  color: #3d4451;
  font-size: 20px;
  margin: 1vw;
  width: 90%;
  padding: 10px 5px 10px 5px;
  text-align: center;
}

.keyFeatures {
  // display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  // grid-template-columns: repeat(3, 30vw);
  max-width: 90%;
  word-wrap: normal;
  margin-bottom: 25px;
}

.feature {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #3d4451;
  border: solid 1px #3d4451;
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
  // width: min(400px, 25vw);
  width: 30%;
  box-shadow: rgba(61, 68, 81, 0.19) 0px 10px 20px,
    rgba(61, 68, 81, 0.23) 0px 6px 6px;
}

// applies margin only to feature divs that are preceded by a feature div
.feature + .feature {
  margin-left: 25px;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 4vw;
  max-width: 90%;
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #313614;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #3d4451;
  }
}

.teamPhoto {
  width: 80%;
  height: auto;
  // padding-left: 3vw;
  // padding-right: 3vw;
}

.person {
  color: #313641;
}

.logo {
  height: 20px;
  width: auto;
  padding: 2px;
}

// .marquee-container {
//   max-width: 700px;
//   width: 700px;
// }
.testimonial {
  margin: 0 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  height: 90%;
}
