
body {
  margin: 0; 
}

.mainContainer {
  /* display: flex; 
  justify-content: center;  */
  display: grid;
  gap: 30px;
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  /* background-color: green; */
  grid-template-columns: 200px 1fr;
  width: 100%;
}

.bodyContainer {
  width: 100vw;
}

body {
  width: 100vw;

}

#__next {
  width: 100vw;
}